/* Navigation Menu Styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center; /* Center the navigation menu */
    display: inline-block;
}

nav li {
    display: inline-block; /* Display buttons next to each other */
}

/* Style for navigation buttons */
.nav-button {
    display: block;
    color: black; /* Text color */
    text-align: center;
    padding: 5px 8px; /* Smaller padding for smaller buttons */
    text-decoration: none;
    border-radius: 15px; /* Rounded corners */
    background-color: white; /* White background */
    border: 1px solid hotpink; /* Hotpink border */
    margin: 5px; /* Margin around buttons */
    font-size: 0.8em; /* Smaller font size */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effect */
}
.nav-button-2 {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 5px 8px; /* Smaller padding for smaller buttons */
    text-decoration: none;
    border-radius: 15px; /* Rounded corners */
    background-color: hotpink; /* White background */
    /* border: 1px solid white; /* Hotpink border */
    margin: 5px; /* Margin around buttons */
    font-size: 0.8em; /* Smaller font size */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effect */
}

/* Hover effect */
.nav-button:hover {
    background-color: hotpink; /* Hotpink background on hover */
    color: white; /* White text on hover */
}

.nav-button-2:hover {
    background-color: white; /* Hotpink background on hover */
    color: black; /* White text on hover */
    border: 1px solid white;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: lavender;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    
}

h1 {
    font-size: 2em;
    color: hotpink;
}

#container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; /* Centers the container and maintains the margin on the top and bottom */
}

#fragments-container {
    flex: 1;
    height: calc(100vh - 100px);
    overflow-y: auto;
    margin-right: 20px;
    padding: 10px;
}

.category {
    background-color: white;
    border: 2px solid hotpink;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: auto; /* The width is set to auto to allow flexibility based on content */
}

.fragment {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid grey;
    background-color: white;
    cursor: move;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis to text that overflows */
}

#poem-container {
    flex: 0 0 350px;
    border: 2px dashed hotpink;
    border-radius: 15px;
    height: calc(100vh - 100px);
    position: sticky;
    top: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#poem-container p {
    color: grey;
    text-align: center;
    margin-top: 0; /* Removes the default margin from the paragraph for a cleaner look */
}

.editable-blank {
    display: inline-block;
    width: 50px; /* Width of the blank space */
    border-bottom: 1px solid black; /* Underline for blank */
    color: black; /* Hide text until it's written */
    text-align: center;
}
.return-button {
    margin-left: 10px;
    padding: 5px 10px;
    /* Add more styling as needed */
    display: none; /* Initially hidden */
}
.new-text {
    color: blue; /* Or any color you prefer */
}


/* Styling for the header to display the image and heading side by side */
header {
    display: flex;
    align-items: center;
    justify-content: start;
}
#musicToggle {
    width: 150px;
    position: absolute; /* Absolute positioning within the header */
    right: 0; /* Align to the right side */
    top: 50%; /* Position at the vertical center of the header */
    transform: translateY(-50%);
}


